<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/foundation.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/framework/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('bundles/framework/js/vendor/what-input.js') }}"></script>
            <script src="{{ asset('bundles/framework/js/vendor/foundation.min.js') }}"></script>
            <script>
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>
